

.current-page {
  display: none;
}

body {
  margin: auto;
  width: 95%;
}

.poke-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.poke-div {
  width: 150px;
  border: solid 1px grey;
  background-color: azure;
  margin: 5px;
  text-align: center;
}

img {
  max-width: 125px;
  max-height: 125px;
}
